<!doctype html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../css/bulma.min.css">
      <link rel="stylesheet" href="../css/style.css">
      <% include ../partials/head %>
   </head>
   <body>
      <div class="content">
         <nav>
            <% include ../partials/nav %>
         </nav>
         <!-- The sidebar -->
         <div class="sidebar">
            <% include ../partials/config %>
         </div>
         <!-- Page content -->
         <div class="contentSection container">
            <div class="columns">
               <div class="column">
                  <br>
                  <h1 class="has-text-left is-size-4 darkGreen">
                     Alarm Configuration
                  </h1>
                  <br>
                  <div class="accordion">
                     <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-1">Alarms</a>
                        <div id="accordion-1" class="accordion-section-content">
                           <form action="Output.html" method="POST" class="form-group" id="output">
                              <div class="columns">
                                 <div class="column">
                                 </div>
                                 <div class="column is-one-fifth label">
                                    Measure
                                 </div>
                                 <div class="column label">
                                    Action
                                 </div>
                                 <div class="column label">
                                    Limit
                                 </div>
                                 <div class="column label">
                                    Units
                                 </div>
                              </div>
                              <div class="columns">
                                 <div class="column label">
                                    Alarm Output 1
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="column">
                                    <input class="input" type="text" placeholder="Text input">
                                 </div>
                                 <div class="column label">
                                    lb/hr
                                 </div>
                              </div>
                              <div class="columns">
                                 <div class="column label">
                                    Alarm Output 1
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="column">
                                    <input class="input" type="text" placeholder="Text input">
                                 </div>
                                 <div class="column label">
                                    lb/hr
                                 </div>
                              </div>
                              <div class="columns">
                                 <div class="column label">
                                    Alarm Output 1
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="column">
                                    <input class="input" type="text" placeholder="Text input">
                                 </div>
                                 <div class="column label">
                                    lb/hr
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <br>
                  <div class="card">
                     <div class="card-content">
                        <div class="is-size-5 has-text-left">
                           Number of Alarm Logs: 0
                           <br><br>
                           Alarms:
                        </div>
                        <br>
                        <div class="columns">
                           <div class="column is-one-fifth">
                              <div class="select is-fullwidth">
                                 <select style="width:100%;">
                                    <option>Alarm 0</option>
                                    <option>Alarm 1</option>
                                    <option>Alarm 2</option>
                                 </select>
                              </div>
                           </div>
                           <div class="column is-two-fifths">
                              <input class="input" type="text" placeholder="Text input">
                           </div>
                           <div class="column is-two-fifths">
                              <a class="button is-link is-focused">Clear Alarm Logs</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="../js/accordion.js"></script>
   </body>
   <footer>
      <% include ../partials/footer %>
   </footer>
</html>
