<!doctype html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../css/bulma.min.css">
      <link rel="stylesheet" href="../css/style.css">
      <% include ../partials/head %>
   </head>
   <body>
      <div class="content">
         <nav>
            <% include ../partials/nav %>
         </nav>
         <!-- The sidebar -->
         <div class="sidebar">
            <% include ../partials/config %>
         </div>
         <!-- Page content -->
         <div class="contentSection container">
            <div class="container">
               <br>
               <div class="card">
                  <div class="card-content" style="overflow:scroll; height:850px;">
                     <h1 class="has-text-left is-size-4 darkGreen">
                        Diagnostics Menu
                     </h1>
                     <p class="has-text-left is-size-6">Zero values stop simulation</p>
                     <br>
                     <form action="DiagnosticConfig.html" method="POST">
                        <div class="columns">
                           <div class="column is-one-quarter">
                              <h5 class="label">Simulated Vor Freq (Hz)</h5>
                           </div>
                           <div class="column is-three-fifths">
                              <input class="input" type="text" mb name="simFreq" value="-1.71465e+38"/>
                           </div>
                        </div>
                        <br>
                        <div class="columns">
                           <div class="column is-one-quarter">
                              <h5 class="label">Simulated Temp1 (&deg;F)</h5>
                           </div>
                           <div class="column is-three-fifths">
                              <input class="input" type="text" mb name="simTemp1" value="-1.71465e+38"/>
                           </div>
                        </div>
                        <br>
                        <div class="columns">
                           <div class="column is-one-quarter">
                              <h5 class="label">Simulated Temp2 (&deg;F)</h5>
                           </div>
                           <div class="column is-three-fifths">
                              <input class="input" type="text" mb name="simTemp2" value="-1.71465e+38"/>
                           </div>
                        </div>
                        <br>
                        <div class="columns">
                           <div class="column is-one-quarter">
                              <h5 class="label">Simulated Press (PSIA)</h5>
                           </div>
                           <div class="column is-three-fifths">
                              <input class="input" type="text" mb name="simPressure" value="-1.71465e+38"/>
                           </div>
                        </div>
                        <br><br>
                        <div class="columns">
                           <div class="column is-one-quarter">
                              <h5 class="label">Max. Velocity (ft/sec)</h5>
                           </div>
                           <div class="column is-three-fifths">
                              <input class="input" type="text" disabled value='-1.71465e+38'/>
                           </div>
                        </div>
                        <br>
                        <div class="columns">
                           <div class="column is-one-quarter">
                              <h5 class="label">Max. Temp (&deg;F)</h5>
                           </div>
                           <div class="column is-three-fifths">
                              <input class="input" type="text" disabled value='-1.71465e+38'/>
                           </div>
                        </div>
                        <br>
                        <div class="columns">
                           <div class="column is-one-quarter">
                              <h5 class="label">Max. Temp1 (&deg;F)</h5>
                           </div>
                           <div class="column is-three-fifths">
                              <input class="input" type="text" disabled value='-1.71465e+38'/>
                           </div>
                        </div>
                        <br>
                        <div class="columns">
                           <div class="column is-one-quarter">
                              <h5 class="label">Max. Internal Temp (&deg;F)</h5>
                           </div>
                           <div class="column is-three-fifths">
                              <input class="input" type="text" disabled value='-1.71465e+38'/>
                           </div>
                        </div>
                        <br>
                        <div class="columns">
                           <div class="column is-one-quarter">
                              <h5 class="label">Min. Internal Temp (&deg;F)</h5>
                           </div>
                           <div class="column is-three-fifths">
                              <input class="input" type="text" disabled value='-1.71465e+38'/>
                           </div>
                        </div>
                        <br>
                        <div class="columns">
                           <div class="column is-one-quarter">
                              <h5 class="label">Max. Pressure (PSIA) (&deg;F)</h5>
                           </div>
                           <div class="column is-three-fifths">
                              <input class="input" type="text" disabled value='-1.71465e+38'/>
                           </div>
                        </div>
                        <br>
                        <button class="button is-link" style="width:20%;">Clear Max Values</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="../js/accordion.js"></script>
   </body>
   <footer>
      <% include ../partials/footer %>
   </footer>
</html>
