<!doctype html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../css/bulma.min.css">
      <link rel="stylesheet" href="../css/style.css">
      <% include ../partials/head %>
   </head>
   <body>
      <div class="content">
         <nav>
            <% include ../partials/nav %>
         </nav>
         <!-- The sidebar -->
         <div class="sidebar">
            <% include ../partials/config %>
         </div>
         <!-- Page content -->
         <div class="contentSection container">
            <div class="columns">
               <div class="column">
                  <br>
                  <h1 class="has-text-left is-size-4 darkGreen">
                     Analog Output Configuration
                  </h1>
                  <br>
                  <div class="accordion">
                     <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-1">Troubleshooting Values 1</a>
                        <div id="accordion-1" class="accordion-section-content" style="overflow:scroll; height:700px;">
                           <br>
                           <form action="DiagnosticConfig.html" method="POST">
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">F(Vortek shedding frequency, Hz)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" mb name="simFreq" value="-1.71465e+38"/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Fi (Adaptive Filter)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" mb name="simTemp1" value="-1.71465e+38"/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">G (Gain)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" mb name="simTemp2" value="-1.71465e+38"/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">A (Amplitude, Volts rms)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" mb name="simPressure" value="-1.71465e+38"/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">A1</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">A2</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">A3</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">A4</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">V (Calculated avg. pipe velocity, ft/sec)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">RTD1 (Resistance value of Integral RTD, ohms)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">RTD2(Optional)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Pe(v) (Pressure transducer excitation voltage)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Pv(v) (Pressure transducer sense voltage)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Ck(Calculated Ck)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Lvl(Threshold level)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Adj filter</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">RIso. Power Volts (VDC)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                           </form>
                        </div>
                        <br>
                        <a class="accordion-section-title" href="#accordion-2">Troubleshooting Values 2</a>
                        <div id="accordion-2" class="accordion-section-content" style="overflow:scroll; height:700px;">
                           <br>
                           <form action="DiagnosticConfig.html" method="POST">
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Kc</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" mb name="simFreq" value="-1.71465e+38"/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Kb</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" mb name="simTemp1" value="-1.71465e+38"/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Re(Calculated Reynold Number)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" mb name="simTemp2" value="-1.71465e+38"/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Visc (Calculated viscosity of flowing fluid, Cp)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" mb name="simPressure" value="-1.71465e+38"/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Enthalpy 1 (BTU/hr)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Enthalpy 2(BTU/hr)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">x Cnts (4-20 mA input counts</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Extx.xx (4-20 mA current, mA)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Pulse Out Queue</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Sig. Rev</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Micro Rev</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                              <div class="columns">
                                 <div class="column is-two-fifths">
                                    <h5 class="is-size-6">Internal Temp (° F)</h5>
                                 </div>
                                 <div class="column is-three-fifths">
                                    <input class="input" type="text" disabled value='-1.71465e+38'/>
                                 </div>
                              </div>
                              <br>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="../js/accordion.js"></script>
   </body>
   <footer>
      <% include ../partials/footer %>
   </footer>
</html>
