<!doctype html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../css/bulma.min.css">
      <link rel="stylesheet" href="../css/style.css">
      <% include ../partials/head %>
   </head>
   <body>
      <div class="content">
         <nav>
            <% include ../partials/nav %>
         </nav>
         <!-- The sidebar -->
         <div class="sidebar">
            <% include ../partials/config %>
         </div>
         <!-- Page content -->
         <div class="contentSection container">
            <br><br>
            <div class="">
               <div class="card">
                  <div class="card-content">
                     <h1 class="has-text-left is-size-4 darkGreen">
                        Meter LCD Display Configuration
                     </h1>
                     <br><br>
                     <div class="columns">
                        <div class="column is-one-fifth label">
                           Cycle Time
                        </div>
                        <div class="column is-four-fifths">
                           <input class="input" type="text" placeholder="Text input" />
                        </div>
                     </div>
                     <br>
                     <div class="columns">
                        <div class="column is-one-fifth label">
                           Number of Digits
                        </div>
                        <div class="column is-four-fifths">
                           <input class="input" type="text" placeholder="Text input" />
                        </div>
                     </div>
                     <br>
                     <div class="columns">
                        <div class="column is-one-fifth label">
                           Display TC (s)
                        </div>
                        <div class="column is-four-fifths">
                           <input class="input" type="text" placeholder="Text input" />
                        </div>
                     </div>
                     <hr>
                     <h1 class="has-text-left is-size-4 darkGreen">
                        LCD Display Items
                     </h1>
                     <br>
                     <div class="columns">
                        <div class="column is-one-fifth">
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Totalizer
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Temperature
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Energy
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Alarm[3]
                           </label>
                           <br>
                        </div>
                        <div class="column is-one-fifth">
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Density
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Volume Flow
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Date and Time
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Alarm[2]
                           </label>
                        </div>
                        <div class="column is-one-fifth">
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Pressure
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Mass Flow
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Fluid
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Alarm[1]
                           </label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="../js/accordion.js"></script>
   </body>
   <footer>
      <% include ../partials/footer %>
   </footer>
</html>
