<!doctype html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../css/bulma.min.css">
      <link rel="stylesheet" href="../css/style.css">
      <% include ../partials/head %>
   </head>
   <body>
      <div class="content">
         <nav>
            <% include ../partials/nav %>
         </nav>
         <!-- The sidebar -->
         <div class="sidebar">
            <% include ../partials/config %>
         </div>
         <!-- Page content -->
         <div class="contentSection">
            <br><br>
            <div class="containerr">
               <div class="card">
                  <div class="card-content">
                     <h1 class="has-text-left is-size-4 darkGreen">
                        SD Card Logging Configuration
                     </h1>
                     <br>
                     <div class="columns">
                        <div class="column is-one-fifth">
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Temperature
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Pressure Units
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Mass Flow Units
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Fluid Density
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Standard Ref. Density
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Fluid Velocity
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           RTD Resistance[1]
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           RTotal[2].fp
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           NRTotal[2].fp
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Internal Temperature
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Max Temperature
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Vrms
                           </label>
                           <br>
                        </div>
                        <div class="column is-one-fifth">
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Temperature 1
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Volume Flow
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Energy Flow
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Density Units
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Normal Ref. Density
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Reynolds Number
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Kc
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           RTotal[3].fp
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           NRTotal[3].fp
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Scaled Output Frequency
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Max Pressure
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Hourly Flow
                           </label>
                           <br>
                        </div>
                        <div class="column is-one-fifth">
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Temperature Units
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Volume Flow Units
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Energy Flow Units
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Fluid Enthalpy 0
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Frequency
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Temp Comp K Factor
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           RTotal[0].fp
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           NRTotal[0].fp
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Base Kc
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Max Velocity
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Max Internal Temperature
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Loop mA
                           </label>
                           <br>
                        </div>
                        <div class="column is-one-fifth">
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Pressure
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Mass Flow
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Fluid Viscosity
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Fluid Enthalpy 1
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Filter Frequency
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           RTD Resistance[0]
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           RTotal[1].fp
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           NRTotal[1].fp
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Base Re
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Max Temperature
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           Min Internal Temperature
                           </label>
                           <br>
                           <label class="checkbox checkBox">
                           <input class="big-checkbox" type="checkbox">
                           MB9K
                           </label>
                           <br>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="../js/accordion.js"></script>
   </body>
   <footer>
      <% include ../partials/footer %>
   </footer>
</html>
