<!doctype html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../css/bulma.min.css">
      <link rel="stylesheet" href="../css/style.css">
      <% include ../partials/head %>
   </head>
   <body>
      <div class="content">
         <nav>
            <% include ../partials/nav %>
         </nav>
         <!-- The sidebar -->
         <div class="sidebar">
            <% include ../partials/config %>
         </div>
         <!-- Page content -->
         <div class="contentSection container">
            <div class="columns">
               <div class="column">
                  <br>
                  <h1 class="has-text-left is-size-4 darkGreen">
                     Units Configuration
                  </h1>
                  <br>
                  <div class="accordion">
                     <div class="accordion-section">
                        <a class="accordion-section-title" href="#accordion-1">Units</a>
                        <div id="accordion-1" class="accordion-section-content">
                           <form action="Output.html" method="POST" class="form-group" id="output">
                              <div class="columns">
                                 <div class="column is-one-fifth">
                                 </div>
                                 <div class="column is-one-fifth label">
                                    Volume/Mass
                                 </div>
                                 <div class="column is-one-fifth label">
                                    Time
                                 </div>
                              </div>
                              <div class="columns">
                                 <div class="column label is-one-fifth">
                                    Mass Flow
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select is-fullwidth">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select is-fullwidth">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <div class="columns">
                                 <div class="column label is-one-fifth">
                                    Volume Flow
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select is-fullwidth">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select is-fullwidth">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <div class="columns">
                                 <div class="column label is-one-fifth">
                                    Energy Flow
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select is-fullwidth">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select is-fullwidth">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <div class="columns">
                                 <div class="column label is-one-fifth">
                                    Mass Flow
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select is-fullwidth">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <div class="columns">
                                 <div class="column label is-one-fifth">
                                    Pressure
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select is-fullwidth">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <div class="columns">
                                 <div class="column label is-one-fifth">
                                    Density
                                 </div>
                                 <div class="column is-one-fifth">
                                    <div class="select is-fullwidth">
                                       <select>
                                          <option value="{{value}}">None</option>
                                          <option value="{{value}}">Mass Flow</option>
                                          <option value="{{value}}">Volume Flow</option>
                                          <option value="{{value}}">Energy</option>
                                          <option value="{{value}}">Temperature 1</option>
                                          <option value="{{value}}">Temperature 2</option>
                                          <option value="{{value}}">Pressure</option>
                                          <option value="{{value}}">Density</option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              <br>
                              <a class="button is-link is-hovered" style="width:20%;">SET</a>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="../js/accordion.js"></script>
   </body>
   <footer>
      <% include ../partials/footer %>
   </footer>
</html>
