<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="content">

      <nav>
        <% include partials/nav %>
      </nav>

      <!-- The sidebar -->
      <div class="sidebar">
        <% include partials/config %>
      </div>

      <!-- Page content -->
      <div class="contentSection container">
        ..
      </div>

    </div>
  </body>
  <footer>
    <% include partials/footer %>
  </footer>
</html>
