<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="content">
    	<nav>
        <% include partials/nav %>
      </nav>
    </div>
  </body>
  <footer>
    		<% include partials/footer %>
  </footer>
</html>
