<!doctype html>
<html lang="en">
   <head>
      <% include partials/head %>
   </head>
   <body>
      <div class="content">
         <nav>
            <% include partials/nav %>
         </nav>
         <br><br>
         <section class="container container-small">
            <h1 class="has-text-centered is-size-3 darkGreen">
               Fluid Parameters
            </h1>
            <br>
            <div class="container">
               <div class="card">
                  <div class="card-content">
                     <table class="table is-striped">
                        <tbody>
                           <tr>
                              <th scope="row">Selected Fluid Type</th>
                              <td>Real Liquid: Water</td>
                           </tr>
                           <tr>
                              <th scope="row">Real Liquid Type</th>
                              <td>Water</td>
                           </tr>
                           <tr>
                              <th scope="row">Fluid Standard Temperature</th>
                              <td>2.30307 °F</td>
                           </tr>
                           <tr>
                              <th scope="row">Fluid Standard Pressure</th>
                              <td>2.30307 psia</td>
                           </tr>
                           <tr>
                              <th scope="row">Fluid Normal Temperature</th>
                              <td>2.30307 °C</td>
                           </tr>
                           <tr>
                              <th scope="row">Fluid Normal Pressure</th>
                              <td>2.30307 kPa</td>
                           </tr>
                           <tr>
                              <th scope="row">Steam Standard Temperature</th>
                              <td>2.30307 °F</td>
                           </tr>
                           <tr>
                              <th scope="row">Steam Standard Pressure</th>
                              <td>2.30307 psia</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <footer>
         <% include partials/footer %>
      </footer>
</html>
