<!doctype html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <div class="content">
	  <nav>
	  	<% include partials/nav %>
	  </nav>
	  <br><br>
	  <section class="container container-small">
	  	<h1 class="has-text-centered is-size-3 darkGreen">
	  		Vortek Meters
	  	</h1>
	  	<br>
	  	<div class="container">
	  		<div class="card">
	  			<div class="card-content">
	  				<table class="table is-striped">
	  					<tbody>
	  						<tr>
	  							<th>None</th>
	  							<th></th>
	  						</tr>	  						
	  						<tr>
						      <th scope="row">Web Interface Rev</th>
						      <td>VRTX_1.15.30</td>
	  						</tr>
	  						<tr>
						      <th scope="row">Uptime</th>
						      <td>03:14:39</td>
	  						</tr>
	  						<tr>
						      <th scope="row">Meter RTC</th>
						      <td>00/00/2000 00:00:00</td>
	  						</tr>					
	  					</tbody>
	  				</table>
					<table class="table is-striped">
					  <tbody>
  						<tr>
  							<th>Networking Data</th>
  							<th></th>
  						</tr>
					    <tr>
					      <th scope="row">MAC</th>
					      <td>03:14:39</td>
					    </tr>
					    <tr>
					      <th scope="row">NETBIOS Name</th>
					      <td>00/00/2000 00:00:00</td>
					    </tr>
					    <tr>
					      <th scope="row">My IP</th>
					      <td>00/00/2000 00:00:00</td>
					    </tr>
					    <tr>
					      <th scope="row">SD Free Size</th>
					      <td>00/00/2000 00:00:00</td>
					    </tr>
					    <tr>
					      <th scope="row">Options</th>
					      <td>00/00/2000 00:00:00</td>
					    </tr>		    
					  </tbody>
					</table>
					<p class="medText">Transmissions: 5405</p>
					<p class="medText">Errors: 5453</p>
	  			</div>
	  		</div>
	  	</div>
	  </section>
  </div>
  </body>
  <footer>
	<% include partials/footer %>	
  </footer>
</html>