<aside class="menu is-size-3">
  <ul class="menu-list is-size-3">
    <li><a class="button" href="/https/Output.html">Output</a></li>
    <li><a class="button" href="/https/Display.html">Display</a></li>
    <li><a class="button" href="/https/Alarms.html">Alarms</a></li>
    <li><a class="button" href="/https/Totalizer.html">Totalizer</a></li>
    <li><a class="button" href="/https/Units.html">Units</a></li>
    <li><a class="button" href="/https/FluidSel.html">Fluid</a></li>
    <li><a class="button" href="/https/DiagnosticConfig.html">Diagnostics</a></li>
    <li><a class='button' href='/https/Diag1.html'>Diagnostic 1</a></li>
    <li><a class='button' href='/https/Diag2.html'>Diagnostic 2</a></li>
    <li><a class="button" href="/https/Calibration.html">Calibration</a></li>
    <li><a class="button" href="/https/Logging.html">SD Log Config</a></li>
    <li><a class="button" href="/https/SteamConf.html">Configuration</a></li>
    <li><a class="button" href="/https/DPMConf.html">Configuration</a></li>
    <li><a class="button" href="/https/System.html">System</a></li>
  </ul>
</aside>

<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Dashboard</a></li>
    <li><a>Customers</a></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li><a>Team Settings</a></li>
    <li>
      <a class="is-active">Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li>
  </ul>
  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside>