<section class="hero is-success is-medium">
<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
              Vortek Instruments
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
        <span></span>
        <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">

          <a class="navbar-item quick-link" href="/">Home</a>
          <a class="navbar-item" href="prognosis.html">Prognosis</a>
          <a class="navbar-item" href="prognShow.html">Show</a>

          <!--VARIABLE BEGS -->
          <a class="navbar-item" href="steam.html">Steam</a>
          <!--VARIABLE ENDS -->

          <!--VARIABLE BEGP_H -->
          <a class="navbar-item quick-link" href="flow2.html">Flow</a>
          <!--VARIABLE ENDP_H -->
          
          <a class="navbar-item quick-link" href="transducer.html">Meter</a>
          <a class="navbar-item quick-link" href="fluid.html">Fluid</a>
          
          <!--VARIABLE BEGP_H -->
          <a class="navbar-item quick-link" href="diagnostic.html">Diagnostic</a>
          <!--VARIABLE ENDP_H -->
          
          <!--VARIABLE BEGP -->
          <a class="navbar-item" href="diagnosticProgn.html">Diagnostic</a>
          <!--VARIABLE ENDP -->
          
          <a class="navbar-item" href="/config.html">Configure</a>

          <a class="navbar-item quick-link" href="dir.html">Data Log</a>
          <a class="navbar-item quick-link"href="debug.html">Startup Log</a>
          </div>
      </div>
    </div>
  </nav>
</div>
</section>